* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;

  body {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100vh;
    padding: 80px 0;
    margin: 0 auto;
    background-color: rgba(221, 217, 211, 0.438);
    font-family: "SOYOMapleRegular";
  }
}
