form {
  height: 50px;
  padding: 10px 20px;
  border-top: 1px solid $sencondary-color;

  input {
    width: 100%;
    height: 100%;
    font: {
      size: inherit;
      family: "SOYOMapleRegular";
    }
    border: none;
    background: none;
    outline: none;
  }
}
