@import "../base/color";

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .todo_list {
    flex: 1;
    margin-bottom: 40px;

    .todo_item {
      display: flex;
      align-items: center;

      &:hover {
        .remove {
          display: flex;
        }
      }

      .todo_text {
        height: 60px;
        line-height: 60px;
        flex: 1;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba(198, 198, 198, 1);
        }
      }

      .remove {
        display: none;
      }
    }
  }

  .todo_create {
    display: flex;
    align-items: center;
    font-weight: 700;

    .create_text {
      color: $primary-color;
    }
  }
}
