main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  border: 1px solid $sencondary-color;
  border-radius: 10px;
  background-color: #fff;

  // 일정 목록(ul)
  .todo_list {
    flex: 1;
    padding: 10px 20px 20px;
    overflow: auto;

    // 일정(li)
    .todo_item {
      display: flex;
      align-items: center;
      height: 50px;
      line-height: 50px;

      &.complete {
        color: $sencondary-color;

        .btn_check {
          border: 2px solid $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;

          .inner_circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $primary-color;
          }
        }
      }

      &:hover {
        .btn_update,
        .btn_delete {
          display: block;
        }
      }

      // 일정 내용(p)
      .todo_text {
        flex: 1;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba(198, 198, 198, 1);
          position: absolute;
        }
      }
    }
  }

  // 완료된 일정에 대한 스타일
  // .complete {
  //   color: $sencondary-color;
  // }
}
