// border, background
// button 기본 스타일
.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.btn {
  // 일정 미완료 시 버튼 스타일
  &_check {
    border: 2px solid $sencondary-color;
  }

  // 일정 완료 시 버튼 스타일
  &_complete {
    border: 2px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner_circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $primary-color;
    }
  }

  // 일정 추가 버튼 스타일
  // &_create {
  //   color: #fff;
  //   font-size: 25px;
  //   background: $primary-color;
  //   line-height: 25px;
  //   text-align: center;
  // }

  // 일정 수정 버튼 스타일
  &_update {
    width: 70px;
    height: inherit;
    color: #fff;
    text-align: center;
    display: none;
    background: $btn-update;
    cursor: pointer;
  }

  // 일정 삭제 버튼 스타일
  &_delete {
    width: 70px;
    height: inherit;
    color: #fff;
    text-align: center;
    display: none;
    background: $btn-delete;
    cursor: pointer;
  }
}
